Ensemble/Ensemble1.zip
Ensemble/Ensemble2_model_undersampled.zip
Ensemble/Ensemble2.zip
Ensemble/incepp1.ipynb
Ensemble/Nuovo documento di testo.txt
Ensemble/inceptionfinetuning.ipynb
Ensemble/submission_inception_undersampled_finetuned.zip
Ensemble/submission_inception_undersampled_transferlearned.zip
Ensemble/Ensemble2_model_undersampled_finetuning/FineTunedModel2.zip
Ensemble/Ensemble2_model_undersampled_finetuning/results.zip
CNN/sumbission_aug/SubmissionModel/variables/variables.index
CNN/sumbission_aug/SubmissionModel/variables/variables.data-00000-of-00001
CNN/sumbission_aug/SubmissionModel/saved_model.pb
CNN/sumbission_aug/SubmissionModel/keras_metadata.pb
CNN/sumbission_aug/model.py
CNN/sumbission_aug/metadata
CNN/submission_wrong_aug/SubmissionModel/variables/variables.index
CNN/submission_wrong_aug/SubmissionModel/variables/variables.data-00000-of-00001
CNN/submission_wrong_aug/SubmissionModel/saved_model.pb
CNN/submission_wrong_aug/SubmissionModel/keras_metadata.pb
CNN/submission_wrong_aug/model.py
CNN/submission_wrong_aug/metadata
CNN/submission_transfer/SubmissionModel/variables/variables.index
CNN/submission_transfer/SubmissionModel/variables/variables.data-00000-of-00001
CNN/submission_transfer/SubmissionModel/saved_model.pb
CNN/submission_transfer/SubmissionModel/keras_metadata.pb
CNN/submission_fine_tuning/SubmissionModel/variables/variables.index
CNN/submission_fine_tuning/SubmissionModel/variables/variables.data-00000-of-00001
CNN/submission_fine_tuning/SubmissionModel/saved_model.pb
CNN/submission_fine_tuning/SubmissionModel/keras_metadata.pb
CNN/submission_fine_tuning/model.py
CNN/submission_fine_tuning/metadata
CNN/CNN_Nov18_14-59-57/ckpts/checkpoint
CNN/CNN_best/model/variables/variables.data-00000-of-00001
CNN/sumbission_aug.zip
CNN/submission_fine_tuning.zip
CNN/submission_transfer/SubmissionModel/variables/variables.index
CNN/submission_transfer/SubmissionModel/variables/variables.data-00000-of-00001
CNN/submission_transfer/SubmissionModel/saved_model.pb
CNN/submission_transfer/SubmissionModel/keras_metadata.pb
CNN/CNN_Nov18_14-59-57/ckpts/checkpoint
